name: Metrics
on: 
  schedule:
    - cron: "0 0 * * *"  # 每天运行一次
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user:  XVSHIFU
          template: classic
          base:  header, activity, community, repositories, metadata
          base_hireable: yes
          config_timezone: Asia/Shanghai
